-# This puts the navbar outside the content div so it can span the page
- content_for :body do
  %nav.navbar.navbar-expand-lg.navbar-dark
    .container
      %ul.navbar-nav.mr-auto
        -# This should only show up for the index action in the Supplements Dashboard
        - if action_name == 'index'
          %li.nav-item{ class: 'mr-1 d-inline-block d-lg-list-item' }
            = link_to "Documents", documents_path, class: 'nav-link', title: 'Manage System Summary Documents'
          %li.nav-item{ class: 'active mr-1 d-inline-block d-lg-list-item' }
            = link_to "Supplements",  "#", class: 'nav-link', title: 'Supplemental Documents and Links'

      -# action-specific buttons - these should never show up in index
      - if action_name == 'show'
        - if can?(:destroy, @supplement) && @supplement.conference.blank?
          = link_to icon('far', 'trash-alt', '', class: 'fa-fw'), event_supplement_path(@supplement.conference_id, @supplement), :method => :delete, :class => "btn btn-sm btn-danger ml-3", :data => { :confirm => 'Are you sure?' }, :post => true
        - if can? :edit, @supplement
          = link_to "Edit", edit_event_supplement_path(@supplement.conference_id, @supplement), :class => "btn btn-sm btn-primary"
        = link_to "Done", event_path(@event), :class => "btn btn-sm btn-secondary ml-3"

      - elsif action_name == 'edit' || action_name == 'update'
        = link_to "Save", "#", class: 'btn btn-sm btn-primary mr-3', onclick: "$('form.edit_supplement').submit()"
        = link_to "Cancel", event_path(params[:event_id]), :class => "btn btn-sm btn-secondary ml-3"
      - elsif action_name == 'new' || action_name == 'create'
        = link_to "Create", "#", class: 'btn btn-sm btn-primary mr-3', onclick: "$('form.new_supplement').submit()"
        = link_to "Cancel",  event_path(params[:event_id]), :class => "btn btn-sm btn-secondary ml-3"
