- content_for :head do
  = tag :link, rel: 'canonical', href: event_supplement_path(@event, @supplement)

= render partial: 'control_bar'

.row
  .col-md-12
    %h3
      Supplemental info for
      = @event.name

.row
  .col-md-12
    %p
      - if @supplement.url.present?
        %b URL
      - else
        %b Download
      %br
      = linked_icon_for_supplement(@supplement, link_classes: 'mr-2')
      = @supplement.name
      - if @supplement.url.present?
        %br
        %span.fa.fa-fw.mr-2
        = @supplement.url
.row
  .col-md-12
    %p
      %b Description
      - if @supplement.description.present?
        = safe_list_sanitizer.sanitize(@supplement.description).try(:html_safe)
      - else
        %i none

- if can?(:edit, @supplement)
  .row
    .col-md-12
      %p
        %b Editor's Notes
        %br
        .card
          .card-body
            = safe_list_sanitizer.sanitize(@supplement.editors_notes).try(:html_safe)

-# There's no social bar here, because only editor can see the Show page
-#.row
-#  .col-md-12
-#    %p= fb_social_bar
