-# This puts the navbar outside the content div so it can span the page
- content_for :body do
  %nav.navbar.navbar-expand-lg.navbar-dark
    .container
      %ul.navbar-nav.mr-auto
        - if can? :create, Publication
          %li.nav-item{ class: action_name == 'new' ? 'active' : ''}
            =link_to icon('fas', 'plus', 'Add', class: 'fa-sm'), new_publication_path, class: 'nav-link', title: 'Add a Publication'

        - if current_user&.editor? || current_user&.admin?
          %li.nav-item{class: params[:heart].present? ? 'active' : ''}
            = link_to icon('fas', 'medkit', class: 'fa-lg fa-fw'), publications_path(search_term: param_context(:search_term), heart: 't'), class: "nav-link", title: 'Needs some work'

        %li.nav-item{class: param_context(:sort) == '-created_at' ? 'active' : ''}
          = link_to 'Latest', publications_path(sort: '-created_at'), class: "nav-link", title: 'Show most recently added first'

        %li.nav-item.dropdown
          = link_to('#', class: "nav-link dropdown-toggle #{action_name == 'chart' ? 'active' : ''}", id: "navbarDropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false") do
            = icon('fas', 'chart-bar', 'Chart It',   class: 'fa-sm')
          .dropdown-menu{'aria-labelledby' => "navbarDropdownMenuLink"}
            = link_to icon('fas', 'chart-bar', 'by Format',  class: 'fa-sm'), chart_publications_path(nav_params.merge(type: 'format')), class: "dropdown-item"
            =# link_to icon('fas', 'chart-bar', 'by Year',  class: 'fa-sm'), chart_publications_path(type: 'year', search_term: param_context(:search_term), user_id: params[:user_id]), class: "dropdown-item"
            =# link_to icon('fas', 'chart-bar', 'Speakers', class: 'fa-sm'), chart_speakers_path(type: '',search_term: param_context(:search_term), user_id: params[:user_id]), class: "dropdown-item"

      = index_search_form 'publications' unless ['show', 'edit', 'new'].include?(action_name)

      -# action-specific buttons
      - if action_name == 'show'
        - if can? :destroy, @publication
          = link_to icon('far', 'trash-alt', '', class: 'fa-fw'), publication_path(@publication), :method => :delete, :class => "btn btn-danger mr-3", :data => { :confirm => 'Are you sure?' }, :post => true
        - if can? :edit, @publication
          = link_to "Edit", edit_publication_path(@publication, nav_params), :class => "btn btn-primary ml-3"
        = link_to "Done", publications_path(nav_params), :class => "btn btn-secondary ml-3"

      - if action_name == 'edit'
        = link_to "Cancel", publication_path(@publication), :class => "btn btn-secondary ml-3"
      - elsif action_name == 'new'
        = link_to "Done", publications_path(nav_params), :class => "btn btn-secondary ml-3"
