-# jQuery looks at these to see which formats are PHYSICAL
.formats{style: 'display: none'}
  - Publication::PHYSICAL.each do |format|
    %span.physical_format= format

-# Name and Speaker Names matter only for orphan publications in order to later find and attach them to the right presentations.
-# Name remains editable however, because it is still shown in the publications listing.
- if @publication.presentations.empty? || controller_name == 'publications'
  .row
    .col-md-12
      - hint_text = @publication.presentations.empty? ? 'Match the presentation name, if known, to make association easier' : 'Only Editors see this name in Publications listing'
      = f.input :name, input_html: { value: @publication.name || @presentation&.name }, hint: hint_text
-# Once the publication is associated with a presentation, the speaker_names field is totally irrelevant.
-# The controller ensures that it isn't blank when it's being hidden.
- if @publication.presentations.empty? && action_name != 'manage_publications'
  .row
    .col-md-12
      = f.input :speaker_names, hint: 'Free text names - helpful later to find the matching presentation.'
.row
  .col-md-12
    = f.label :details
    = f.trix_editor :details
    .small.mb-3 Visible to everyone. Use for sourcing, history info, general background.

.row
  .col-md-2
    -# @presentation has to be here explicitly because we never let publications exist standalone
    = f.input :format, collection: Publication::FORMATS, include_blank: false
  .col-md-2
    = f.input :published_on, as: :date, start_year: Date.today.year, end_year: Setting.base_event_year,  order: [:year], include_blank: true, label: "Published"
  .col-md-8
    = f.input :url, label: 'URL'
    = hidden_field_tag :presentation_id, @presentation.id if @presentation.present?
.row
  .col-md-2
    = f.input :ui_duration, as: :string, label: 'Duration', input_html: { value: duration_for_display(@publication) }, hint: "duration in minutes or as hh:mm or hh:mm:ss"
  .col-md-10
    = f.input :notes, hint: 'Users see this in pubs list - label multi-part items here.'
- if @presentation.present?
  .row
    .col-md-12
      -# This pair of lines works like the check_box helper, so something gets posted whether its checked or unchecked.
      = hidden_field_tag :canonical, "false"
      = check_box_tag :canonical, "true", canonical?(@presentation, @publication)
      - label_text = icon('fas', 'crown', :class => 'fa-fw text-warning')
      - label_text += " This publication is specifically".html_safe
      - label_text += [ ' <i>', @presentation.name, '</i> '].join.html_safe
      - if @presentation.conference_name.present?
        - label_text += 'presented at '.html_safe
        - label_text += @presentation.conference_name
      - else
        - label_text += 'from this specific presentation'.html_safe
      = label_tag :canonical, label_text

#for_physical_publications
  .row
    .col-md-12.mt-3
      = f.input :ari_inventory, as: :boolean, label: "In ARI inventory"

  .row
    .col-md-12
      = f.input :publisher, hint: 'Generally, the entity named in the copyright statement.'
.row
  .col-md-12
    = f.label "Editor's Notes", for: 'publication_editors_notes'
    = f.trix_editor :editors_notes
    .small.mb-3 Only visible to other editors. Use for source documentation and any notes other editors might find useful.
