-# Name and Speaker Names matter only for orphan publications in order to later find and attach them to the right presentations.
-# Name remains editable however, because it is still shown in the publications listing.
- if @publication.presentations.empty? || controller_name == 'publications'
  .row
    .col-md-12
      - hint_text = @publication.presentations.empty? ? 'Match the presentation name, if known, to make association easier' : 'Only Editors see this name in Publications listing'
      = f.input :name, input_html: { value: @publication.name || @presentation&.name }, hint: hint_text
-# Once the publication is associated with a presentation, the speaker_names field is totally irrelevant.
-# The controller ensures that it isn't blank when it's being hidden.
- if @publication.presentations.empty? && action_name != 'manage_publications'
  .row
    .col-md-12
      = f.input :speaker_names, hint: 'Free text names - helpful later to find the matching presentation.'

.row
  .col-md-2
    -# @presentation has to be here explicitly because we never let publications exist standalone
    = f.input :format, collection: Publication::FORMATS, include_blank: false
  .col-md-2
    = f.input :published_on, as: :date, start_year: Date.today.year, end_year: 1960,  order: [:year], include_blank: true, label: "Published"
  .col-md-8
    = f.input :url, label: 'URL'
    = hidden_field_tag :presentation_id, @presentation.id if @presentation.present?
.row
  .col-md-2
    = f.input :duration, hint: "total minutes"
  .col-md-10
    = f.input :notes, hint: 'Users see this - label multi-part items here. Anything clarifying from a reader perspective.'
- if @presentation.present?
  .row
    .col-md-12
      -# This pair of lines works like the check_box helper, so something gets posted whether its checked or unchecked.
      = hidden_field_tag :canonical, "false"
      = check_box_tag :canonical, "true", canonical?(@presentation, @publication)
      - label_text = icon('fas', 'crown', :class => 'fa-fw text-warning')
      - label_text += " This publication is specifically <i>".html_safe
      - label_text += @presentation.name
      - label_text += '</i> presented at '.html_safe
      - label_text += @presentation.conference_name
      = label_tag :canonical, label_text
.row
  .col-md-12
    = f.label "Editor's Notes"
    = f.trix_editor :editors_notes
    .small Only visible to other editors. Use for source documentation and any notes other editors might find useful.
