.row.mb-2
  .col
    = sorting_header 'Name', :publications_path, 'publications.sortable_name'
    = ' / Events'
  .col-md-2
    = 'Format / '
    - if params[:sort]&.include? 'publications.created_at'
      = sorting_header 'Added', :publications_path, 'publications.created_at', icon: 'sort-numeric'
    - else
      = sorting_header 'Pub', :publications_path, 'publications.published_on', icon: 'sort-numeric'
  .col-md-1.text-right
    = sorting_header 'Mins', :publications_path, 'publications.duration', icon: 'sort-numeric'
  .col-md-1.text-right
    = sorting_header 'Lang', :publications_path, 'publications.duration'
  - if params[:heart].present?
    .col-md-2 Needs
  - if can? :edit, Publication
    .col-md-2
