.row.mb-2
  .col-md-6
    = link_to(truncate(publication.name, length: 80, separator: ' '), publication_path(publication))
    %br
    = linked_icon(publication)
    = publication.format
    - if params[:sort].include? 'publications.created_at'
      = pretty_date(publication.created_at, style: :year_only, undefined_text: '')
    - else
      = pretty_date(publication.published_on, style: :year_only, undefined_text: '')
    - if publication.notes.present?
      = ' - '
      = truncate publication.notes, length: 35
  .col
    = conference_names publication

  - if params[:heart].present?
    .col
      = icon('far', 'clock', class: 'fa-fw') if publication.duration.blank?
      = icon('far', 'calendar-times', class: 'fa-fw') if publication.published_on.blank?
      = icon('fas', 'chalkboard-teacher', class: 'fa-fw') if publication.presentations.blank?

  - if can? :edit, publication
    .col.text-right
      = link_to icon('far', 'edit', class: 'fa-fw fa-sm'), edit_publication_path(publication), :class => "btn btn-xs btn-primary"
      = link_to icon('far', 'trash-alt', class: 'fa-fw fa-sm'), publication_path(publication), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
