= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if param_context(:search_term).present?
      - title "Publication formats for #{ [param_context(:search_term), param_context(:tag)].compact.join(' and ') }"
      %h3
        Publication formats for
        %i= param_context(:search_term)
        - if param_context(:tag).present?
          and
          %i= param_context(:tag)

    - elsif param_context(:user_id).present?
      - title "Your Event Cities"
      %h3
        Your Publication formats
        = param_context(:search_term)

    - else
      - title "Publication formats"
      %h3 Publication formats

    %p Click a format to see its publications
    #formats_chart
      = render partial: 'shared/formats_chart'
    .text-center Publications
