- content_for :head do
  = tag :link, rel: 'canonical', href: publication_url(@publication)

= render partial: 'control_bar'

.row
  .col-md-12
    = title "#{ @publication.name }"

.row
  .col-md-12
    %p= safe_list_sanitizer.sanitize(@publication.description).try(:html_safe)

.row
  .col-md-12
    %p= format_and_date(@publication)  # this contains the publication year, if present

    - if @publication.presentations.blank?
      -# This field is just helpful info for hooking up floating publications to presentations
      -# The presentation speakers are authoritative, so once presentation is identified, we hide this.
      %p
        %b Speaker Names
        = @publication.speaker_names

    - if @publication.has_duration?
      %p
        %b Duration
        - if @publication.duration.present?
          = formatted_time @publication.duration
          - unless current_user&.hms_duration?
            mins
        -else
          %i unspecified

    %p
      %b Notes
      - if @publication.notes.present?
        = @publication.notes
      - else
        %i none

- if can?(:edit, @publication)
  .row
    .col-md-12
      %p
        %b Editor's Notes
        %br
        .card
          .card-body
            = safe_list_sanitizer.sanitize(@publication.editors_notes).try(:html_safe)

.row
  .col-md-12
    %h4 Associated Presentations
    %ul
      - if @publication.presentation_publications.empty?
        %li
          %i None yet
      - @publication.presentation_publications.each do |presentation_publication|
        %li
          - presentation = presentation_publication.presentation
          = link_to presentation.name, presentation_path(presentation)
          - if presentation.conference.present?
            at
            = link_to presentation.conference_name, event_path(presentation.conference)
          = icon('fas', 'crown', :class => 'fa-fw text-warning') if presentation_publication.canonical
          - if can?(:edit, @publication)
            = link_to icon('far', 'edit', :class => 'fa-fw'), edit_publication_path(@publication, presentation_id: presentation.id)
            = link_to icon('fas', 'unlink', :class => 'fa-fw'), presentation_publication_path(presentation_publication), :method => :delete, :post => true, class: 'text-danger'

-# If the controller identified possible related publications, list them for association
- if can?(:edit, @publication)
  .row
    .col-md-12
      %h4= "Associate a Presentation"

      = simple_form_for :presentation_publication, url: presentation_publications_path do |f|
        = f.input :publication_id, as: :hidden, input_html: { value: @publication.id }
        = f.input :presentation_id, collection: [['',0]], label: false, input_html: { data: { delimiter: ',', placeholder: "enter a presentation name...", source: presentations_path(format: :json), exclude: @current_presentation_ids }, class: "select2-autocomplete", id: "presentation_picker" }
        .text-right
          = f.submit 'Associate', class: 'btn btn-sm btn-primary'

=# render :partial => 'automated_candidates'

.row
  .col-md-12
    %p= fb_social_bar
