.row.mb-2
  %div{ class: current_user.present? ? 'col-md-5' : 'col-md-8'}
    = sorting_header 'Name', :presentations_path, 'presentations.sortable_name'
  .col.d-sm-block.d-md-inline
    = sorting_header 'Presented', :presentations_path, 'presentations.date', 'sort-numeric'
    = '/'
    = sorting_header 'Added', :presentations_path, 'presentations.created_at', 'sort-numeric'

  -if @conference.present? && (@conference.multi_venue? || @conference.virtual?)
    .col
      = [@conference.virtual? || @conference.multi_venue? ? 'Date' : nil, @conference.multi_venue? ? 'Location' : nil].compact.join(' / ')

  - if params[:heart].present?
    .col Needs

  .col.col-md-2.text-right Media
  .col.d-none.d-md-block
