%tr{ :class => cycle(:even, :odd) }
  %td= link_to(truncate(presentation.name, length: 80), presentation_path(presentation))
  %td= clickable_speaker_list(presentation)
  -# Omit the conference when presentations are being listed on the conference/show page
  - unless controller_name == "conferences"
    %td
      - if presentation.conference.present?
        = link_to presentation.conference_name, conference_path(presentation.conference)
  %td= presentation.formats

  %td{width: 150}
    - if can? :edit, presentation
      = link_to icon('fas', 'search', class: 'fa-fw'), google_search_url(presentation), target: "_blank"
      = link_to edit_presentation_path(presentation), :class => "btn btn-sm" do
        = icon 'far', 'edit', class: 'fa-fw'
        Edit
      = link_to icon('far', 'trash-alt', class: 'fa-fw'), presentation_path(presentation), :method => :delete, :class => "btn btn-sm btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
