%tr{ :class => cycle(:even, :odd), id: "presentation_#{presentation.id}" }
  %td
    = link_to(truncate(presentation.name, length: 80, separator: ' '), presentation_path(presentation, nav_params))
    %br
    by
    = clickable_speaker_list(presentation)
    - unless controller_name == 'conferences' && params[:id].present?
      - if presentation.conference.present?
        at
        = link_to truncate(presentation.conference_name, length: 45, separator: ' '), conference_path(presentation.conference)
    %br
    %i= linked_tag_names(presentation)

  -if @conference.present? && (@conference.multi_venue? || @conference.virtual?)
    %td
      - if @conference.virtual?
        = pretty_date presentation.date
      - if @conference.multi_venue?
        = presentation.venue
        %br
        = location_with_non_us_country presentation

  - if params[:heart].present?
    %td
      = icon('fas', 'tag', class: 'fa-fw', title: 'Needs topic tags') if presentation.tags.empty?
      = icon('fas', 'align-left', class: 'fa-fw', title: 'Needs a description') if presentation.description.blank?
      = icon('fas', 'puzzle-piece', class: 'fa-fw', title: 'Needs number of parts') if presentation.parts.blank?
      = icon('fas', 'chalkboard-teacher', class: 'fa-fw', title: 'Not yet associated with a conference') if presentation.conference.blank?

  %td= linked_format_icons(presentation)

  %td{width: can?(:edit, presentation) ? 150 : 70 }
    - if current_user.present?
      - user_presentation = @user_presentations.select{|up| up.presentation_id == presentation.id}.first
      - if user_presentation.present?
        - if user_presentation.completed_on.present?
          = link_to icon('far', 'check-circle', class: 'fa-fw'), user_presentation_path(user_presentation), class: "", data: { method: :patch, remote: true, params: { user_presentation: { completed_on: nil } }.to_param }, title: ht_unwatch
        - else
          = link_to icon('fas', 'heart', class: 'fa-fw'), user_presentation_path(user_presentation), class: "", data: { method: :patch, remote: true, params: { user_presentation: { completed_on: Time.now.utc } }.to_param }, title: ht_heard
        - if user_presentation.notify_pubs
          = link_to icon('fas', 'envelope', class: 'fa-fw'), user_presentation_path(user_presentation), class: "", data: { method: :patch, remote: true, params: { user_presentation: { notify_pubs: false } }.to_param }, title: ht_unnotify
        -else
          = link_to icon('far', 'envelope', class: 'fa-fw'), user_presentation_path(user_presentation), class: "", data: { method: :patch, remote: true, params: { user_presentation: { notify_pubs: true } }.to_param }, title: ht_notify
      - else
        = link_to icon('far', 'heart', class: 'fa-fw'), user_presentations_path, class: "", data: { method: :post, remote: true, params: { user_presentation: { presentation_id: presentation.id } }.to_param }, title: ht_watch
    - if can? :edit, presentation
      %br
      %div{style: 'padding-top: 5px;'}
        = link_to icon('fas', 'search', class: 'fa-fw'), google_search_url(presentation), class: "btn btn-sm btn-primary", target: "_blank"
        = link_to icon('far', 'edit', class: 'fa-fw'), edit_presentation_path(presentation, nav_params), class: "btn btn-sm btn-primary"
        = link_to icon('far', 'trash-alt', class: 'fa-fw'), presentation_path(presentation), :method => :delete, class: "btn btn-sm btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
