%tr{ :class => cycle(:even, :odd), id: "presentation_#{presentation.id}" }
  %td
    = link_to(truncate(presentation.name, length: 80, separator: ' '), presentation_path(presentation, nav_params))
    %br
    = clickable_speaker_list(presentation)
    %br
    %i= linked_tag_names(presentation)

  - if params[:heart].present?
    %td
      = icon('fas', 'tag', class: 'fa-fw') if presentation.tags.empty?
      = icon('fas', 'align-left', class: 'fa-fw') if presentation.description.blank?
      = icon('fas', 'puzzle-piece', class: 'fa-fw') if presentation.parts.blank?
      = icon('fas', 'chalkboard-teacher', class: 'fa-fw') if presentation.conference.blank?
  %td
    - if presentation.conference.present?
      = link_to truncate(presentation.conference_name, length: 45, separator: ' '), conference_path(presentation.conference)
  %td= linked_format_icons(presentation)

  %td{width: 150}
    - if current_user.present?
      - user_presentation = @user_presentations.select{|up| up.presentation_id == presentation.id}.first
      - if user_presentation.present?
        - if user_presentation.completed_on.present?
          = link_to icon('far', 'circle-check', class: 'fa-fw'), '#', class: "btn btn-sm btn-primary", title: "Didn't Hear It"
        - else
          = link_to icon('fas', 'heart', class: 'fa-fw'), '#', class: "btn btn-sm btn-primary", title: 'Heard It'
        - if user_presentation.notify_pubs
          = link_to icon('far', 'envelope', class: 'fa-fw'), '#', class: "btn btn-sm btn-primary", title: 'Notify Me'
        -else
          = link_to icon('fas', 'envelope', class: 'fa-fw'), '#', class: "btn btn-sm btn-primary", title: "Don't Notify Me"
      - else
        -# create
        =# link_to icon('far', 'heart', class: 'fa-fw', id: "heart_#{presentation.id}"), '#', class: "btn btn-sm btn-primary", data: {user_id: current_user.id, presentation_id: presentation.id}, title: 'Want to Hear It'
        -# form_with model: UserPresentation.new, url: user_presentations_path do |form|
          -# form.hidden_field :presentation_id, value: presentation.id
          -# form.button icon('far', 'heart', class: 'fa-fw', id: "heart_#{presentation.id}"), class: "btn btn-sm btn-primary"
        = link_to icon('far', 'heart', class: 'fa-fw', id: "heart_#{presentation.id}"), user_presentations_path, class: "btn btn-sm btn-primary", data: { method: :post, remote: true, params: { user_presentation: { presentation_id: presentation.id } }.to_param }, title: 'Want to Hear It'
    - if can? :edit, presentation
      = link_to icon('fas', 'search', class: 'fa-fw'), google_search_url(presentation), class: "btn btn-sm btn-primary", target: "_blank"
      = link_to icon('far', 'edit', class: 'fa-fw'), edit_presentation_path(presentation, nav_params), class: "btn btn-sm btn-primary"
      = link_to icon('far', 'trash-alt', class: 'fa-fw'), presentation_path(presentation), :method => :delete, class: "btn btn-sm btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
