-# Shows a publication in a single row on the presentation/show and publication/show page
= format_and_date(publication)
= "(#{publication.language_abbreviation})"
- if publication.duration.present?
  = " - #{ publication.duration } mins"
- if publication.notes.present?
  = " - #{ publication.notes }"

- if can? :edit, publication
  = link_to icon('fas', 'eye', class: 'fa-sm'), publication_path(publication)
