- title 'Presentations'
.row
  .col-md-12
    - category_button_classes = "btn btn-sm"
    - if params[:search_term].present? || params[:mine].present?
      = link_to 'all', presentations_path, class: category_button_classes + " btn-primary"

    = form_for :search, html: { class: 'form-inline' }, url: presentations_path, method: :get do |f|
      = text_field_tag :search_term, params[:search_term]
      = button_tag type: 'submit', class: 'btn btn-primary btn-xs' do
        = icon('search')

    - if can? :create, Presentation
      .pull-right
        =link_to "Add Presentation", new_presentation_path, class: 'btn btn-sm btn-primary'

.row
  .col-md-12
    - if @presentations.blank?
      %p You haven't created any presentations yet.
    - else
      %table.table
        = render :partial => "table_head"
        = render :partial => "presentation", :collection => @presentations

      = paginate @presentations
