- title 'Presentations'

= render partial: 'control_bar'

- if @presentations.blank?
  .row
    .col-md-12
      - if params[:search_term].present? || params[:tag].present?
        %p No presentations match that search term
      - else
        %p You haven't created any presentations yet.
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "table_head"
        = render :partial => "presentation", :collection => @presentations

  .row
    .col-md-10
      = paginate @presentations
    .col-md-2
      = per_page_selector presentations_path
