.row
  .col-md-12
    %h4= @presentation.name
.row
  .col-md-12
    %h5 Manage Publications
    %ul
      - if @presentation.publications.empty?
        %li None Yet
      - @presentation.publications.each do |publication|
        %li
          - if publication.url.present?
            = link_to publication.format, publication.url, target: '_blank'
          - else
            = publication.format
          = publication.published_on.year
          - if publication.notes.present?
            = " - #{ publication.notes }"
          = link_to icon('times-circle'), publication_path(publication), :method => :delete, :data => { :confirm => 'remove this publication?' }, :post => true, class: 'text-danger'

.row
  .col-md-12
    %h5 Add a publication
    = simple_form_for @publication, :html => {:autocomplete => "off"} do |f|
      = f.input :presentation_id, as: :hidden, input_html: { value: @presentation.id }
      = f.input :format, collection: Publication::FORMATS, include_blank: false
      = f.input :published_on, as: :date, start_year: 1980, end_year: Date.today.year,  order: [:year], label: "Published"
      = f.input :url, label: 'URL'
      = f.input :notes, hint: 'Any special clarifying info or references'
      %p= f.submit "Add"


.row
  .col-md-12
    %p= link_to "Done", presentation_path(@presentation), :class => "btn btn-primary"
