.row
  .col-md-12
    %h3= @presentation.name
.row
  .col-md-12
    %h4 Current Publications
    %ul
      - if @presentation.publications.empty?
        %li None Yet
      - @presentation.publications.each do |publication|
        %li
          - if publication.url.present?
            = link_to publication.format, publication.url, target: '_blank'
          - else
            = publication.format
          = publication.published_on.year
          - if publication.notes.present?
            = " - #{ publication.notes }"
          = link_to icon('edit', :class => 'fa-fw'), edit_publication_path(publication)
          = link_to icon('trash', :class => 'fa-fw'), publication_path(publication), :method => :delete, :data => { :confirm => 'remove this publication?' }, :post => true, class: 'text-danger'

.row
  .col-md-12
    -# Adding publications happens only here - there is no stand-alone publication/new
    %h4 Add a publication

-# The publications form_fields partial does its own column management
= simple_form_for @publication, :html => {:autocomplete => "off"} do |f|
  = render partial: "publications/form_fields", locals: {:f => f}
  .row
    .col-md-12
      = save_or_cancel f, presentation_path(@presentation)
