= render partial: 'control_bar'

.row
  .col-md-12
    = title @presentation.name
    %h5
    - if @presentation.conference.present?
      presented at
      = link_to @presentation.conference_name, event_path(@presentation.conference)
    - else
      %i Event not yet identified

%br
.row
  .col-md-12
    %h4 Current Related Publications
 
%p
  %b About This Presentation
- @relation_about_this.each do |relation|
  = render :partial => 'related_about', locals: { presentation: relation.presentation, relation: relation }

%p
  %b This is About
- @relation_this_is_about.each do |relation|
  = render :partial => 'related_about', locals: { presentation: relation.related, relation: relation }

%br
.row
  .col-md-12
    %h4 Add a Presentation This is About

    = simple_form_for :relation, url: relations_path do |f|
      = f.input :presentation_id, as: :hidden, input_html: { value: @presentation.id }
      = f.input :related_id, collection: [['',0]], label: false, input_html: { data: { delimiter: ',', placeholder: "enter a presentation name...", source: presentations_path(format: :json), exclude: @current_related_ids }, class: "select2-autocomplete", id: "presentation_picker" }
      .text-right
        = f.submit 'Add', class: 'btn btn-sm btn-primary'
