.row
  .col-md-12
    %h3= @presentation.name
.row
  .col-md-12
    %h4 Current Publications
    %ul
      - if @presentation.publications.empty?
        %li None Yet
      - @presentation.publications.each do |publication|
        = render :partial => 'publication', locals: { publication: publication}
.row
  .col-md-12
    -# Adding publications happens only here - there is no stand-alone publication/new
    %h4 Add a publication

-# The publications form_fields partial does its own column management
= simple_form_for @publication, :html => {:autocomplete => "off"} do |f|
  = render partial: "publications/form_fields", locals: {:f => f}
  .row
    .col-md-12
      = save_or_cancel f, presentation_path(@presentation), "Add Publication", "Done"
