- title @presentation.name

= render partial: 'control_bar'

.row
  .col-md-12
    - if current_user
      .float-right
        -# This has the same logical structure as the button selection logic in the presentation partial
        - if @user_presentation.persisted?
          = render partial: 'manage_watchlist_buttons', locals: { user_presentation: @user_presentation }
        - else
          = simple_form_for @user_presentation do |f|
            = f.input :presentation_id, as: :hidden, input_html: { value: @presentation.id }
            = f.submit 'Add to my Watchlist', class: 'btn btn-secondary'

    = title "#{ @presentation.name }"
    %h4= @presentation.speakers.empty? ? "no speaker identified" : clickable_speaker_list(@presentation)
    - if @presentation.conference.present?
      %h5
        %b Presented at:
        =link_to @presentation.conference.name, conference_path(@presentation.conference)

    %p= @presentation.description.try(:html_safe)

    %p
      %b Topic:
      = @presentation.tag_list.empty? ? tag.i('none identified') : linked_tag_names(@presentation)

    %p
      %b Parts:
      = @presentation.parts

    %p
      %b Handout:
      - if @presentation.handout.present?
        = link_to icon('fas','download'), download_handout_presentation_url(@presentation)
      - else
        = tag.i('none')

    %p
      %b Publications:
      %ul
        - if @presentation.publications.empty?
          %li
            %i Not yet available
        - @presentation.presentation_publications.each do |presentation_publication|
          %li
            - publication = presentation_publication.publication
            = icon('fas', 'crown', :class => 'fa-fw text-warning') if presentation_publication.canonical
            = render :partial => 'publication', locals: { publication: publication }

      - if can?(:edit, @presentation)
        %p= link_to icon('fas', 'search', 'Search for More', class: 'fa-fw'), google_search_url(@presentation), target: "_blank"

- if can?(:edit, @presentation) # && @presentation.editors_notes.present?
  .row
    .col-md-12
      %p
        %b Editor's Notes
        .card
          .card-body
            = @presentation.editors_notes.try(:html_safe)

  .row
    .col-md-12
      - if @presentation.conference.blank?
        %h5 Link to a Conference
        = simple_form_for @presentation do |f|
          = f.input :presentation_id, as: :hidden, input_html: { value: @presentation.id }
          = f.input :conference_id, collection: [['',0]], label: false, input_html: { data: { delimiter: ',', placeholder: "enter a conference year...", source: conferences_path(format: :json) }, class: "select2-autocomplete", id: "conference_picker" }
          = f.submit 'Associate', class: 'btn btn-primary btn-sm'

.row
  .col-md-12
    .form-actions

      = link_to "Done", @return_path, :class => "btn btn-secondary"
      - if can? :edit, @presentation
        = link_to "Edit", edit_presentation_path(@presentation, nav_params), :class => "btn btn-primary"
        - if request&.referrer&.split('?')&.first == new_presentation_url # ignore any trailing params
          = link_to "Add Another", new_presentation_path(conference_id: @presentation.conference_id), :class => "btn btn-primary"
        = link_to "Manage Speakers", manage_speakers_presentation_path(@presentation), :class => "btn btn-primary"
        = link_to "Manage Publications", manage_publications_presentation_path(@presentation), :class => "btn btn-primary"
      .float-right
        - if can? :destroy, @presentation
          = link_to icon('far', 'trash-alt', '', class: 'fa-fw'), presentation_path(@presentation), :method => :delete, :class => "btn btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
