- content_for :head do
  = tag :meta, name: "robots", content: "nofollow"

= render partial: 'control_bar'

.row
  .col-md-12
    = title 'Topics'
    %ul
      - @tags.each do |tag|
        %li
          = link_to tag.name, presentations_path(tag: tag.name, page: 1)
          = "(#{ tag.taggings_count })"
