= render partial: 'control_bar'

.row
  .col-md-12
    = title 'Topics'
    %ul
      - @tags.each do |tag|
        %li
          = link_to tag.name, presentations_path(tag: tag.name)
          = "(#{ tag.taggings_count })"
