= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = link_to "Done", presentations_path, :class => "btn btn-sm btn-secondary float-right"

    - if param_context(:search_term).present? || param_context(:tag).present?
      = title chart_title_with_context('Presentations for')

    - else
      = title "Presentations by Topic"

    %p
      Click a topic to see its presentations.
      - if (current_user&.editor? || @current_user&.admin?) && param_context(:search_term).blank?
        %br
        Consider eliminating topics with only one associated presentation.
    #presentations_chart
      = render partial: 'shared/presentations_topic_chart'
    .text-center Presentations
