= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = link_to "Done", presentations_path, :class => "btn btn-secondary float-right"

    - if param_context(:search_term).present? || param_context(:tag).present?
      - title "Presentations for #{ [param_context(:search_term), param_context(:tag)].compact.join(' and ') }"
      %h3
        Presentations for
        %i= param_context(:search_term)
        - if param_context(:tag).present?
          and
          %i= param_context(:tag)


    - else
      - title "Presentations by Year"
      %h3 Presentations by Year

    %p Click a year to see its presentations
    #presentations_chart
      = render partial: 'shared/presentations_chart'
