- title 'Attendees'

= render partial: 'events/control_bar'

.row
  .col-md-12
    - if @conference.present?
      %h3= "Members Attending #{ @conference.name }"
    - if @attendees.blank?
      %p No users have marked themselves as attending this conference.
    - else
      %table.table
        =# render :partial => "table_head"
        = render :partial => "attendee", :collection => @attendees

= render :partial => 'shared/pagination', locals: { collection: @attendees }

.row
  .col-md-12
    %p= link_to "Done", event_path(params[:conference_id]), :class => "btn btn-secondary"
