%tr{ :class => cycle(:even, :odd) }
  %td= link_to(truncate(organizer.name, length: 40, separator: ' '), organizer_path(organizer))
  %td= organizer.series_name
  %td= link_to organizer.abbreviation, events_path(search_term: organizer.abbreviation)

  %td{width: 130}
    - if can? :edit, organizer
      = link_to icon('far', 'edit', class: 'fa-fw'), edit_organizer_path(organizer), :class => "btn btn-sm btn-primary"
    - if can?(:destroy, organizer) && organizer.conferences.empty?
      = link_to icon('far', 'trash-alt', class: 'fa-fw'), organizer_path(organizer), :method => :delete, :class => "btn btn-sm btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
