- content_for :head do
  = tag :link, rel: 'canonical', href: organizer_url(@organizer)

= render partial: 'control_bar'

.row
  .col-md-12
    = title "#{ @organizer.name }"

.row
  .col-md-12
    %p
      %b Series Name:
      = @organizer.series_name

.row
  .col-md-12
    %p
      %b Abbreviation:
      = @organizer.abbreviation

.row
  .col-md-12
    %p
      %b Description:
      = @organizer.description.try(:html_safe)
