= render partial: 'events/control_bar'

.row
  .col-md-12
    - if @user.id == current_user&.id
      %h3
        = current_event_type.pluralize
        You've Attended
    - else
      %h3
        = current_event_type.pluralize
        attended by
        = @user.name
    - if @conferences.length == 0
      %p
        - if @user.id == current_user.id
          You haven't marked any
          = current_event_type.pluralize
          as attended yet.
          - if current_event_type == 'Events' # only say this when the user hasn't marked any events at all
            You can do that on the event details page. Look for a button that says, "I was there!"
        - else
          -# This shouldn't come up, because the only way to get here is when the user has marked the event as
          -# attended. But handle it anyway.
          = @user.name
          hasn't marked any
          = current_event_type.pluralize
          as attended.
    - else
      %ul
      - @conferences.each do |conference|
        %li= link_to conference.name, event_path(conference)
