- title 'Users'

= render partial: 'control_bar'

- if @users.blank?
  .row
    .col-md-12
      %p.error There are no users that match your criteria
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "table_head"
        = render :partial => "user", :collection => @users

  .row
    .col-md-10
      = paginate @users
    .col-md-2
      = form_tag users_path, method: :get do
        = select_tag :per, options_for_select( [2,3,4,5,6,7,8,9,10,11,12,13,14,15,20,25,30,50], selected: params[:per] || 10), onchange: 'this.form.submit()'
        = hidden_field_tag :page, params[:page]
