.row
  .col-md-12
    = title current_user ? "Add a New User" : "Register for an account"

.row
  .col-md-12
    = simple_form_for @user do |f|
      = render :partial => "form_fields", :locals => {:f => f}
      .float-right
        = link_to "I already have an account", login_path, class: 'btn btn-primary'
      = save_or_cancel f, current_user ? users_path : root_path, 'Create'
