.row
  .col-md-12
    = render partial: 'shared/user_nav'

    - if @user == current_user
      =title 'Your Activity'
    - else
      = title "Activity - #{ @user.name }"

    %table.clean-values
      -# Only show these where they're > 0 because we want to show the user what they've done, not what they haven't done
      - if @conferences_created > 0
        %tr
          %th Conferences Created
          %td= @conferences_created
      - if @speakers_created > 0
        %tr
          %th Speakers Created
          %td= @speakers_created
      - if @presentations_created > 0
        %tr
          %th Presentations Created
          %td= @presentations_created
      - if @publications_created > 0
        %tr
          %th Publications Created
          %td= @publications_created
      %tr
        %th Conferences Attended
        %td= @conferences_attended.length

