= render partial: 'control_bar'

.row
  .col-md-12
    - if @user == current_user
      =title 'Your Activity'
    - else
      = title "Activity - #{ @user.name }"

    %table.clean-values
      -# Only show these where they're > 0 because we want to show the user what they've done, not what they haven't done
      - if @conferences_created > 0
        %tr
          %th Conferences Created
          %td= @conferences_created
      - if @speakers_created > 0
        %tr
          %th Speakers Created
          %td= @speakers_created
      - if @presentations_created > 0
        %tr
          %th Presentations Created
          %td= @presentations_created
      - if @publications_created > 0
        %tr
          %th Publications Created
          %td= @publications_created

      -# Show all these whether they are zero or not, to reinforce the idea that they exist
      %tr
        %th Conferences Attended
        %td= @conferences_attended.length

      %tr
        %th Presentations want to see
        %td= @presentations.select{|p| p.completed_on.blank?}.length

      %tr
        %th Presentations seen
        %td= @presentations.select{|p| p.completed_on.present?}.length

      %tr
        %th Presentations with notifications
        %td= @presentations.select{|p| p.notify_pubs}.length

      %tr
        %th Notifications sent
        %td= @notifications.length
