%tr{ :class => cycle(:even, :odd) }
  %td= link_to(truncate(conference.name, length: 40), conference_path(conference))
  %td= conference.date_span
  %td= location_with_non_us_country conference, :short
  %td{ align: 'center' }
    - if conference.program_url.present?
      = link_to icon('far', 'file'), conference.program_url, target: '_blank'
  - if can? :edit, Conference
    %td{ align: 'center' }= icon('fas', 'check', :class => 'fa-lg fa-fw text-success') if conference.completed

  %td{width: 130}
    - if can? :edit, conference
      = link_to icon('far', 'edit', class: 'fa-fw'), edit_conference_path(conference), :class => "btn btn-sm btn-primary"
    - if can?(:destroy, conference) && conference.presentations.empty?
      = link_to icon('far', 'trash-alt', class: 'fa-fw'), conference_path(conference), :method => :delete, :class => "btn btn-sm btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
