-# Conferences get a name generated from the organizer
- unless action_name == 'new'
  = f.input :name, hint: "Don't change this unless absolutely necessary for clarity (e.g. special events)"
= f.input :organizer_id, as: 'select', collection: @organizer_selections, include_blank: false
= f.input :url, input_html: { autocomplete: "off" }, hint: "A link where the schedule can be found"
= f.input :start_date, as: :date, start_year: 1983, end_year: Date.today.year, order: [:month, :day, :year]
= f.input :end_date, as: :date, start_year: 1983, end_year: Date.today.year, order: [:month, :day, :year]
= f.input :venue
= f.input :venue_url
= f.input :city
= f.input :state
= f.input :country, priority: ['US'], include_blank: false
= f.input :completed, as: :boolean, hint: "Check this when all the conference's presentations have been entered."
