= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if params[:search_term].present?
      - title "Event Countries for #{ params[:search_term] }"
      %h3
        Event Countries for
        = params[:search_term]

    - elsif params[:user_id].present?
      - title "Your Event Countries"
      %h3
        Your Event Countries
        = params[:search_term]

    - else
      - title "Conferences by Country"
      %h3 Events by Country

    %p Click a country to see its events
    #countries_chart
      = render partial: 'shared/countries_chart'
    .text-center Events
