- title 'Conferences'
.row.listing-controls
  .col-md-4
    = form_for :search, html: { class: 'form-inline'}, url: conferences_path, method: :get do |f|
      = text_field_tag :search_term, params[:search_term]
      %span{style: 'margin-right: 5px;'}
      = button_tag type: 'submit', class: 'btn btn-primary btn-sm' do
        = icon('fas', 'search', class: 'fa-sm')
      - if params[:search_term].present? || params[:user_id].present?
        = link_to 'All', conferences_path, class: "btn btn-sm btn-primary ml-2"

  .col-md-6
    - if current_user.present?
      = link_to "My Conferences", conference_users_path(user_id: current_user.id), class: "btn btn-sm btn-primary mr-2 #{params[:user_id].present? ? 'disabled' : ''}"

    %span.dropdown.show
      = link_to icon('fas', 'chart-bar', 'Chart It',   class: 'fa-sm'), '#', class: "btn btn-sm btn-primary dropdown-toggle", role: "button", id: "dropdownMenuLink", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": false
      .dropdown-menu{ "aria-labelledby": "dropdownMenuLink" }
        = link_to icon('fas', 'chart-bar', 'Cities',    class: 'fa-sm'), cities_chart_conferences_path(search_term: params[:search_term], user_id: params[:user_id]), class: "dropdown-item"
        = link_to icon('fas', 'chart-bar', 'Countries', class: 'fa-sm'), countries_chart_conferences_path(search_term: params[:search_term], user_id: params[:user_id]), class: "dropdown-item"
        = link_to icon('fas', 'chart-bar', 'Years',     class: 'fa-sm'), years_chart_conferences_path(search_term: params[:search_term], user_id: params[:user_id]), class: "dropdown-item"
        = link_to icon('fas', 'chart-bar', 'Speakers',  class: 'fa-sm'), chart_speakers_path(search_term: params[:search_term], user_id: params[:user_id]), class: "dropdown-item"


  .col-md-2
    - if can? :create, Conference
      .float-right
        =link_to icon('fas', 'plus', 'Add', class: 'fa-sm'), new_conference_path, class: 'btn btn-sm btn-primary'

- if params[:user_id].present?
  .row
    .col-md-12
      %h4
        Conferences Attended by
        = @user.name

.row
  .col-md-12
    - if @conferences.blank?
      - if params[:search_term].present?
        %p No conferences match the search terms
      - elsif params[:user_id].present?
        %p You haven't marked any conferences as attended by you
      - else
        %p The system doesn't contain any conferences yet
    - else
      %table.table
        = render :partial => "conferences/table_head"
        = render :partial => "conferences/conference", :collection => @conferences

      = paginate @conferences
