- title 'Conferences'

= render partial: 'conferences/control_bar'

- if params[:user_id].present?
  .row
    .col-md-12
      %h4
        Conferences Attended by
        = @user.name

.row
  .col-md-12
    - if @conferences.blank?
      - if params[:search_term].present?
        %p No conferences match the search terms
      - elsif params[:user_id].present?
        %p
          You haven't marked any conferences as attended by you.
          You can do that on the conference details page. Look for a button that says, "I was there!"
      - else
        %p The system doesn't contain any conferences yet
    - else
      %table.table
        = render :partial => "conferences/table_head"
        = render :partial => "conferences/conference", :collection => @conferences

      = paginate @conferences
