- title full_name_with_date(@conference)
.row
  .col-md-12
    %h4= full_name_with_date(@conference)
    - if @conference.venue_url.present?
      = link_to @conference.venue, @conference.venue_url
    - else
      = @conference.venue
    = @conference.location

    - if current_user
      .pull-right
        - if current_user.attended? @conference
          %p
            = attendance_status_message(@conference)
            = link_to icon('trash-alt', class: 'fa-fw'), conference_user_path(@conference_user), :method => :delete, :style => "color: #F00", :data => { :confirm => 'Remove your association with this conference?' }, :post => true
        - else
          = simple_form_for @conference_user do |f|
            = f.input :conference_id, as: :hidden, input_html: { value: @conference.id }
            = f.input :user_id, as: :hidden, input_html: { value:current_user.id }
            = f.submit attendance_invitation_message(@conference)
.row
  .col-md-12
    %h4 Presentations
    %ul
      - if @conference.presentations.empty?
        %li None Yet
      - @conference.presentations.each do |presentation|
        %li
          %b= link_to presentation.name, presentation_path(presentation)
          by
          - if presentation.speakers.empty?
            %i not identified
          - else
            - presentation.speakers.each do |speaker|
              = link_to speaker.name, speaker_path(speaker)

.row
  .col-md-12
    %h4 Attendees
    %p
      = @conference.users.length
      - if @conference.users.length > 0
        = link_to "Show", conference_users_path(conference_id: @conference.id), class: 'btn btn-sm btn-secondary'
.row
  .col-md-12
    .form-actions
      - if can? :create, @presentation
        = link_to "Add a Presentation", new_presentation_path(conference_id: @conference.id), :class => "btn btn-secondary"
      - if can? :edit, @conference
        = link_to "Edit", edit_conference_path(@conference), :class => "btn btn-secondary"
      = link_to "Done", conferences_path, :class => "btn btn-primary"
      .pull-right
        - if can? :destroy, @conference
          = link_to icon('trash', '', class: 'fa-fw'), conference_path(@conference), :method => :delete, :class => "btn btn-danger", :data => { :confirm => 'Are you sure? This will assign user assets to you and delete votes.' }, :post => true
