.row
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if params[:search_term].present?
      - title "Conferences by Year for #{ params[:search_term] }"
      %h3
        Conferences by Year for
        = params[:search_term]

    - elsif params[:user_id].present?
      - title "Your Conferences by Year"
      %h3
        Your Conferences by Year for
        = params[:search_term]

    - else
      - title "Conferences by Year"
      %h3 Conferences by Year

    %p Click a year to see its conferences
    #years_chart
      = render partial: 'shared/years_chart'
    .text-center Conferences
