= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if params[:search_term].present?
      - title "Events by Year for #{ params[:search_term] }"
      %h3
        Events by Year for
        = params[:search_term]

    - elsif params[:user_id].present?
      - title "Your Events by Year"
      %h3
        Your Events by Year for
        = params[:search_term]

    - else
      - title "Events by Year"
      %h3 Events by Year

    %p Click a year to see its conferences
    #years_chart
      = render partial: 'shared/years_chart'
    .text-center Events
