= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    = conference_chart_title

    %p Click a year to see its events
    #years_chart
      = render partial: 'shared/years_chart'
    .text-center= current_event_type.pluralize
