= f.input :location_type, as: :select, collection: location_types, include_blank: false
-# This backs up the visible venue field so that when the selector changes it to Multiple/virtual and the field is
-# disabled, the changed value will still be submitted.
-# The initial state is set by JS in conferences.coffee
.location-conditional-fields
  = f.input :venue, as: :string  # simple_form weirdly wants to make this a file input by default
  = f.input :venue_url
  = f.input :city
  = f.input :state
  = f.input :country, priority: ['US'], include_blank: false
