%nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
  .container
    = link_to 'OC', root_path, class: 'navbar-brand'
    %button.navbar-toggler{type:"button", 'data-toggle': "collapse", 'data-target': "#navbarSupportedContent"}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto
        %li.nav-item= link_to 'Events',        events_path(nav: 'reset'),        class: 'nav-link' + current_tab?('events')
        %li.nav-item= link_to 'Presentations', presentations_path(nav: 'reset'), class: 'nav-link' + current_tab?('presentations')
        %li.nav-item= link_to 'Speakers',      speakers_path(nav: 'reset'),      class: 'nav-link' + current_tab?('speakers')
        %li.nav-item= link_to 'Publications',  publications_path(nav: 'reset'),  class: 'nav-link' + current_tab?('publications')
        - if current_user&.admin?
          %li.nav-item= link_to 'Orgs',        organizers_path(nav: 'reset'), class: 'nav-link' + current_tab?('organizers')
          %li.nav-item= link_to 'Docs',        documents_path(nav: 'reset'),  class: 'nav-link' + current_tab?('documents')
          %li.nav-item= link_to 'Users',       users_path(nav: 'reset'),      class: 'nav-link' + current_tab?('users')
          %li.nav-item= link_to 'Settings',    settings_path,                 class: 'nav-link' + current_tab?('settings')
          %li.nav-item= link_to 'Text',        passages_path,                 class: 'nav-link' + current_tab?('text')
          %li.nav-item= link_to 'Lang',        languages_path(nav: 'reset'),  class: 'nav-link' + current_tab?('languages')
        - elsif current_user&.editor?
          %li.nav-item= link_to 'Docs',        documents_path(nav: 'reset'), class: 'nav-link' + current_tab?('documents')
        - elsif current_user&.reader?
          %li.nav-item= link_to 'Docs',        documents_path(nav: 'reset'), class: 'nav-link' + current_tab?('documents')


      %ul.navbar-nav.justify-content-end
        %li.nav-item= link_to "Us", about_path, class: 'nav-link' + current_tab?('about')
        - if current_user.present?
          %li.nav-item.dropdown{class: current_tab?('account')}
            = link_to('#', class: "nav-link dropdown-toggle", id: "navbarDropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false") do
              You
            .dropdown-menu{'aria-labelledby' => "navbarDropdownMenuLink"}
              - if current_user.editor? || current_user.admin?
                = link_to "Your Stats",   summary_users_path(id: current_user.id), class: "dropdown-item" + current_tab?('summary')
              = link_to 'Profile',    account_path,       class: "dropdown-item" + current_tab?('profile')
              = link_to "Watch List", user_presentations_path(nav: 'reset'), class: "dropdown-item" + current_tab?('watchlist')
              .dropdown-divider
              = link_to 'Logout',   logout_path,        class: "dropdown-item"
          %li.nav-item{style: 'margin-top: 8px;'}
            = image_tag current_user.photo.url, class: '', style: 'max-height: 30px; border: 2px solid white;'
        - else
          %li.nav-item= link_to 'Sign Up', new_user_path, class: 'nav-link' + current_tab?('signup')
          %li.nav-item= link_to 'Login', login_path, class: 'nav-link' + current_tab?('login')
