%nav.navbar.navbar-dark.bg-dark.navbar-expand-md
  .container
    = link_to 'OC', root_path, class: 'navbar-brand'
    %button.navbar-toggler{type:"button", 'data-toggle': "collapse", 'data-target': "#navbarSupportedContent"}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto
        %li.nav-item= link_to 'Conferences', conferences_path, class: 'nav-link' + current_tab?('conferences')
        %li.nav-item= link_to 'Speakers', speakers_path, class: 'nav-link' + current_tab?('speakers')
        %li.nav-item= link_to 'Presentations', presentations_path, class: 'nav-link' + current_tab?('presentations')
        - if current_user&.admin?
          %li.nav-item= link_to 'Pubs', publications_path, class: 'nav-link' + current_tab?('publications')
          %li.nav-item= link_to 'Orgs', organizers_path, class: 'nav-link' + current_tab?('organizers')
          %li.nav-item= link_to 'Docs', documents_path, class: 'nav-link' + current_tab?('documents')
          %li.nav-item= link_to 'Users', users_path, class: 'nav-link' + current_tab?('users')
          %li.nav-item= link_to 'Settings', settings_path, class: 'nav-link' + current_tab?('settings')
        - elsif current_user&.editor?
          %li.nav-item= link_to 'Publications', publications_path, class: 'nav-link' + current_tab?('publications')
          %li.nav-item= link_to 'Docs', documents_path, class: 'nav-link' + current_tab?('documents')

      %ul.navbar-nav.mr-auto.justify-content-end
        - if current_user
          - if current_user.admin? || current_user.editor?
            %li.nav-item= link_to 'Summary', summary_user_path(current_user), class: 'nav-link' + current_tab?('summary')

          %li.nav-item= link_to 'Profile', account_path, class: 'nav-link' + current_tab?('profile')
          %li.nav-item= link_to 'Logout', logout_path, class: 'nav-link'
        - else
          %li.nav-item= link_to 'Sign Up', new_user_path, class: 'nav-link' + current_tab?('signup')
          %li.nav-item= link_to 'Login', login_path, class: 'nav-link' + current_tab?('login')
