.row.mb-2
  .col-md-5
    = link_to(truncate(conference.name, length: 40, separator: ' '), event_path(conference))
    %br
    = conference.date_span
  .col-md-2
    = location_with_non_us_country conference, :short
  .col.d-none.d-md-block.text-center
    - conference.programs.each do |program|
      = linked_icon_for_program program
  - if can? :edit, Conference
    .col.d-none.d-md-block.text-center
      = icon('fas', 'check', :class => 'fa-lg fa-fw text-success') if conference.completed

  - if can? :edit, conference
    .col.text-right
      = link_to icon('far', 'edit', class: 'fa-fw fa-sm'), edit_event_path(conference), :class => "btn btn-xs btn-primary"
      - if can?(:destroy, conference) && conference.presentations.empty?
        = link_to icon('far', 'trash-alt', class: 'fa-fw fa-sm'), event_path(conference), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => 'Permanently remove this conference?' }, :post => true
