-# This puts the navbar outside the content div so it can span the page
- content_for :body do
  %nav.navbar.navbar-expand-lg.navbar-dark
    .container
      %ul.navbar-nav.mr-auto
        - if can? :create, Conference
          %li.nav-item{ class: action_name == 'new' ? 'active' : ''}
            =link_to icon('fas', 'plus', 'Add', class: 'fa-sm'), new_event_path, class: 'nav-link', title: 'Add a Conference'

        - if current_user&.editor? || current_user&.admin?
          %li.nav-item{ class: params[:heart].present? ? 'active' : ''}
            = link_to icon('fas', 'medkit', class: 'fa-lg fa-fw').html_safe, events_path(search_term: params[:search_term], heart: 't'), class: "nav-link", title: 'Needs some work'

        - if current_user.present?
          %li.nav-item{ class: params[:user_id].present? && params[:user_id] == current_user.id.to_s ? 'active' : ''}
            = link_to "My Events", events_path(user_id: current_user.id), class: "nav-link"

        %li.nav-item.dropdown
          = link_to('#', class: "nav-link dropdown-toggle #{action_name == 'chart' ? 'active' : ''}", id: "navbarDropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false") do
            = icon('fas', 'chart-bar', 'Chart It',   class: 'fa-sm')
          .dropdown-menu{'aria-labelledby' => "navbarDropdownMenuLink"}
            = link_to icon('fas', 'chart-bar', 'Cities',    class: 'fa-sm'), chart_events_path(nav_params.merge(type: 'cities')), class: "dropdown-item"
            = link_to icon('fas', 'chart-bar', 'Countries', class: 'fa-sm'), chart_events_path(nav_params.merge(type: 'countries')), class: "dropdown-item"
            = link_to icon('fas', 'chart-bar', 'Years',     class: 'fa-sm'), chart_events_path(nav_params.merge(type: 'years')), class: "dropdown-item"

        %li.nav-item.dropdown
          = link_to('#', class: "nav-link dropdown-toggle #{params[:event_type].present? ? 'active' : ''}", id: "navbarDropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false") do
            = icon('fas', 'chart-bar', 'Event Type',   class: 'fa-sm')
          .dropdown-menu{'aria-labelledby' => "navbarDropdownMenuLink"}
            = link_to 'Any', events_path(nav_params.merge(event_type: nil)), class: "dropdown-item"
            - Conference::EVENT_TYPES.each do |event_type|
              = link_to event_type, events_path(nav_params.merge(event_type: event_type)), class: "dropdown-item"

      = index_search_form 'events' unless controller_name == 'conference_users' || ['show', 'edit', 'new'].include?(action_name)

      -# action-specific buttons
      - if action_name == 'show'
        - if can?(:destroy, @conference) && @presentations.empty?
          = link_to icon('far', 'trash-alt', '', class: 'fa-fw'), event_path(@conference), :method => :delete, :class => "btn btn-danger mr-3", :data => { :confirm => 'Permanently remove this conference?' }, :post => true
        - if @conference.future? && @conference.registration_url.present?
          = link_to "Register", @conference.registration_url, :class => "btn btn-primary ml-3", target: '_blank'
        - if can? :create, Presentation
          = link_to "+ Presentation", new_presentation_path(conference_id: @conference.id), :class => "btn btn-primary ml-3"
        - if can? :edit, @conference
          = link_to "Edit", edit_event_path(@conference, nav_params), :class => "btn btn-primary ml-3"
        = link_to "Done", events_path(nav_params), :class => "btn btn-secondary ml-3"

      - if action_name == 'edit'
        = link_to "Cancel", event_path(@conference), :class => "btn btn-secondary ml-3"
      - elsif action_name == 'new'
        = link_to "Cancel", events_path, :class => "btn btn-secondary ml-3"

