.row.mb-2
  .col-md-5
    = link_to(truncate(conference.name, length: 40, separator: ' '), event_path(conference))
    %br
    = conference.date_span
  .col-md-2
    = location_with_non_us_country conference, :short
  .col-md-1.d-none.d-md-block
    - if conference.program_url.present?
      = link_to icon('far', 'file'), conference.program_url, target: '_blank'
  - if can? :edit, Conference
    .col-md-2.d-none.d-md-block
      = icon('fas', 'check', :class => 'fa-lg fa-fw text-success') if conference.completed

  - if can? :edit, conference
    .col-md-2.text-right
      = link_to icon('far', 'edit', class: 'fa-fw'), edit_event_path(conference), :class => "btn btn-sm btn-primary"
      - if can?(:destroy, conference) && conference.presentations.empty?
        = link_to icon('far', 'trash-alt', class: 'fa-fw'), event_path(conference), :method => :delete, :class => "btn btn-sm btn-danger", :data => { :confirm => 'Permanently remove this conference?' }, :post => true
