= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = link_to "Done", deduce_done_path, :class => "btn btn-secondary float-right"

    = conference_chart_title('Country')

    %p Click a country to see its events
    #countries_chart
      = render partial: 'shared/countries_chart'
    .text-center= current_event_type.pluralize
