- title @conference.name

= render partial: 'control_bar'

- content_for :pre_application_js do
  = Gon::Base.render_data

.row
  .col-md-12
    = simple_form_for @conference, url: event_path(@conference) do |f|
      = render :partial => "form_fields", :locals => {:f => f}
      = save_or_cancel f, event_path(@conference), 'Save'
