- title 'Events'

= render partial: 'events/control_bar'

- if @user.present?
  .row
    .col-md-12
      %h4
        Events Attended by
        = @user.name

- if @conferences.blank?
  .row
    .col-md-12
      - if @user.present?
        - if @user == current_user
          %p
            You haven't marked any
            = current_event_type.pluralize
            as attended by you.
            - if @user.conferences.empty?
              You can do that on the conference details page. Look for a button that says, "I was there!"
        - else
          %p
            This user hasn't marked any
            = current_event_type.pluralize
            as attended.
      - elsif params[:search_term].present?
        %p No events match the search terms
      - elsif params[:event_type].present?
        %p No events match the event type
      - else
        %p The system doesn't contain any events yet
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "events/table_head"
        = render :partial => "events/conference", :collection => @conferences

  .row
    .col-md-10
      = paginate @conferences
    .col-md-2
      = per_page_selector
