- content_for :pre_application_js do
  = Gon::Base.render_data

- title "Add a New Event"

= render partial: 'control_bar'

.row
  .col-md-12
    = simple_form_for @conference, url: events_path do |f|
      = render :partial => "form_fields", :locals => {:f => f}
      = save_or_cancel f, events_path, 'Create'
