- content_for :head do
  = tag :link, rel: 'canonical', href: event_url(@conference)

- title @conference.name

= render partial: 'control_bar'

.row
  .col-md-12
    - if current_user
      .float-right
        - if current_user.attended? @conference
          %p
            = attendance_status_message(@conference)
            = link_to icon('far', 'trash-alt', class: 'fa-fw'), event_user_path(@conference_user), :method => :delete, :style => "color: #F00", :data => { :confirm => 'Remove your association with this event?' }, :post => true
        - else
          = simple_form_for @conference_user, url: event_users_path do |f|
            = f.input :conference_id, as: :hidden, input_html: { value: @conference.id }
            = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
            = f.submit attendance_status_message(@conference), class: 'button'
    %h5= @conference.event_type
.row.mt-1
  .col-md-12
    -# TODO Why is this so intensely styled up?
    %div{style: 'line-height: 1.2rem; margin-bottom: 15px'}
      %div{style: 'font-size: 18pt; margin-bottom: 5px'}
        %strong= @conference.name
      %div{style: 'font-size: 1rem'}= @conference.date_span
      %div{style: 'font-size: 1rem'}
        by
        = @conference.organizer&.name
      - if @conference.use_episodes?
        Episodic
    %p
      = location(@conference, country_format: :full)

.row.mt-1
  .col-md-12
    %b Description:
    - if @conference.description.blank?
      %br
      %i unavailable
      %br
    -else
      = safe_list_sanitizer.sanitize(@conference.description).try(:html_safe)
    %br
.row
  .col-md-12
    - if can? :create, Supplement
      .float-right
        = link_to "Add", new_event_supplement_path(@conference), class: 'btn btn-secondary btn-sm'
    %p
      %b Supplemental Info
      %br
      - if @conference.supplements.present?
        %ul
          - @conference.supplements.each do |supplement|
            .row
              .col-md-9
                %li
                  -# wrap the div in the description so it won't break the current line
                  %div{style: 'display: inline-block'}
                    = safe_list_sanitizer.sanitize(supplement.description).try(:html_safe)
                  - if supplement.file_size.present?
                    = "(#{number_to_human_size supplement.file_size})"
              .col-md-3.text-right
                = linked_icon_for_supplement(supplement, link_classes: 'mr-2')
                - if can? :edit, Supplement
                  = link_to icon('fas', 'eye', class: 'fa-sm'), event_supplement_path(@conference, supplement), class: "btn btn-xs btn-primary mr-1"
                  = link_to icon('far', 'edit', class: 'fa-fw fa-sm'), edit_event_supplement_path(@conference, supplement), class: "btn btn-xs btn-primary mr-1"
                - if can? :destroy, Supplement
                  = link_to icon('far', 'trash-alt', class: 'fa-fw fa-sm'), event_supplement_path(@conference, supplement), :method => :delete, class: "btn btn-xs btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
      - else
        %i none
    - if can? :edit, Conference
      %br
        - if @conference.completed
          %b Data entry completed:
          = icon('fas', 'check', :class => 'fa-lg fa-fw text-success')
        - else
          %b Data entry in progress:
          %div{ style: 'display: inline-block;'}
            = simple_form_for @conference, url: event_path(@conference), html: { class: 'form-inline' } do |f|
              = f.input :completed, as: :hidden, input_html: { value: 'true' }
              = f.button :submit, 'Complete', :class => 'btn btn-primary btn-xs'
      %br

    %p
      %b Members Attending:
      = @conference.users.length
      - if @conference.users.length > 0 && current_user
        %span.ml-3
          = link_to icon('fas', 'users', class: 'fa-fw'), event_users_path(conference_id: @conference.id, page: 1)

- if can?(:edit, @conference) && @conference.editors_notes.present?
  .row
    .col-md-12
      %p
        %b Editor's Notes
        .card
          .card-body
            = safe_list_sanitizer.sanitize(@conference.editors_notes).try(:html_safe)

.row
  .col-md-12
    %h4 Presentations
    - if @presentations.empty?
      %p None Yet
    - else
      = render :partial => "presentations_header"
      = render :partial => "presentations/presentation", :collection =>  @presentations
.row
  .col-md-12
    %p= fb_social_bar
