= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = link_to "Done", deduce_done_path, :class => "btn btn-secondary float-right"

    = conference_chart_title('Year')

    %p Click a year to see its events
    #years_chart
      = render partial: 'shared/years_chart'
    .text-center= current_event_type.pluralize
