= render partial: 'control_bar'

.row
  .col-md-12
    = title "System Settings"

.row
  .col-md-12
    = simple_form_for @setting do |f|
      = render :partial => "form_fields", :locals => {:f => f}
      = save_or_cancel f, settings_path
