-# There is only one setting, but we use index as the default view
= render partial: 'control_bar'

.row
  .col-md-12
    =title "System Settings"
    %p{style: 'valign: bottom'}= "Version #{ APP_VERSION }"
.row
  .col-md-12
    %table.table
      %tr
        %th{width: '50%'} Require Account Approval
        %td= humanize_boolean @setting.require_account_approval?
      %tr
        %th{width: '50%'} Top Speakers Floor
        %td= @setting.speaker_chart_floor
      %tr
        %th{width: '50%'} API Open
        %td= @setting.api_open ? 'True' : 'False'
      %tr
        %th{width: '50%'} Facebook Sharing Button
        %td= @setting.facebook_sharing ? 'Available' : 'Hidden'
.row
  .col-md-12
    %p
      Facebook Analytics
      = link_to_if ENV['FB_APP_ID'].present?, "Dashboard", "https://www.facebook.com/analytics/#{ ENV['FB_APP_ID'] }/", target: '_blank'
