= render partial: 'menu'
- title 'About Us'

.row
  .col-md-12
    %h2 What's It All About?
    %p
      This site is a community supported archive of Objectivist presentations. The presentations are collected
      by event, with links to the material when it is available online. By bringing all this information
      together in one place, we hope to put the presentations into historical context, and to make it easier
      to find presentations once they become available online.

    %p
      Our content depends on the resources of our contributors. Their memories and personal reference material are
      essential in piecing together a complete history. If you have any info that can expand our records, your
      contributions are welcome.

    %p The current focus is on getting the events and presentations documented. Here's what we have accomplished so far:
    %table.clean-values
      %tr
        %th Events
        %td= Conference.count
      %tr
        %th Speakers
        %td= Speaker.count
      %tr
        %th Presentations
        %td= Presentation.count
      %tr
        %th Publications
        %td= Publication.count
    %p With your help, we can cover everything.

    %p This site is not affiliated with the Ayn Rand Institute, nor any of the other conference sponsor organizations.

    %p
      Version:
      = APP_VERSION

    =# fb_social_bar(title: 'Objectivist Conferences', description: "Objectivist Events and related media.")

-# NOTE: don't show this because it now requires an API key and billing
=# render partial: 'shared/geo_cities_chart'
