= render partial: 'menu'

.row
  .col-md-12
    =title 'Guidelines for Editors'
    %p
      There are many options in terms of how to enter the event info, and how to tag it. Following these guidelines will
      help keep the data consistent. Guidelines will evolve over time. Feel free to make suggestions.

    %h4 Events
    The following characteristics are captured for each event.
    %ul
      %li
        %b Event Type
        %br
        Currently, events include:
      %ul
        - Conference::EVENT_TYPES.each do |event_type|
          %li= event_type
      %p See the venue section for more info related to series events.
      %li
        %b Name
        %br
        When you create an event, a name will be assigned automatically based on the event organizer and year
        you select (e.g., OCON 2012). This name will be used as part of the URL for the event, and this uniform
        naming scheme helps make things searchable. The URL doesn't change, even if the event name is updated,
        so if you accidentally create the event with the wrong organizer, delete it and start over-you don't want
        OCON 2020 to have a URL that ends with "irm-1996".
        %b
        For the same reason, it's also important to carefully pick the name of special events, such as:
        = link_to "Ayn Rand Comes to Harvard 1996", '/events/ayn-rand-comes-to-harvard-1996'
        or
        = link_to "ARI Ford Hall Forum Event", "/events/ari-special-event-oct-20-22-2006-boston-ma"
        Use the program event name if available. Otherwise, pick something that is meaningful in the context of the event listing.
      %li
        %b Organizer
        %br
        When you add an event, you'll pick an organizer. This denotes the sponsoring organization, as well as an event
        series. For example, ARI hosts a student conference AynRandCon, as well as a general summer conference OCON, plus
        occasional special events. Organizers are not expected to change very often. If you discover a new organizer, contact
        the admin.
      %li
        %b Venue and location
        %br
        Both Events and Presentations can be assigned a venue and location. Events may be:
        %ul
          - Conference::LOCATION_TYPES.each do |location_type|
            %li= location_type
        When the event has a physical location, it will have a venue (such as a hotel or conference center), a city, state,
        and country. The event location supersedes the presentation location unless the event is marked as a series.

    %h5 Venue and Location for Series
    %p
      Generally, the distinction between a Conference and a Series is clear, and physical vs. virtual is clear. But there
      can be some subtle consequences for these choices in terms of how things show up in searches and charts.
    %p
      The webinar series
      = link_to 'Philosophy for Living On Earth', events_path('philosophy-for-living-on-earth')
      is a good example of a virtual event with no location. There are no physical attendees, just webinar participants.
      The
      = link_to "ARI Road to a Free Society", event_path('ari-road-to-a-free-society')
      series is a good example of a series event with multiple physical locations over time. This is not a conference,
      but rather a traveling series of events in multiple cities.
    %p
      This distinction can be tricky - for example,
      = link_to "The Atlas Project", event_path('the-atlas-project')
      webinars had both an internet broadcast and a live audience in New York. It is currently categorized as virtual,
      because that is the primary audience it was intended for.
    %p
      The
      = link_to "Ayn Rand Comes to Harvard", event_path('ayn-rand-comes-to-harvard-1996')
      series could be cataloged as a physical series, because all the lectures were at Cambridge. It is currently
      cataloged as multiple because the events were given in different lecture halls.
      This could go either way - we don't keep track of lecture rooms at conferences.  But in this case,
      since it is a series and we have some of the lecture hall info, going with multiple allows us to
      surface that info to the reader. It is more tedious, but also more complete.

    %h4 Presentations
    %p
      Presentations represent a speaker appearing before an audience on a specific topic. This might be a physical
      presentation at a conference, a panel, an interview, a webinar, etc. Currently we are focusing on situations that
      are likely to generate some sort of media. Receptions, social events, talent contests, etc. are omitted. We hope
      to document the social aspects of conferences, but in other ways.
    %p Some general guidelines:
    %ul
      %li
        If you just know the presentation name and speaker, but not the event (e.g., an old tape or CD, or an e-store listing)
        you can still enter it. Eventually we'll figure it out.
      %li
        The date selector for an event presentation is automatically set to the first day. If you are entering info
        for a multi-day event and know which day the talk was given, change this info from the default. If not, leave
        it on the first day - approximately right is better than nothing, because we use these dates for reporting.
      %li
        The OCON schedule puts "Panel:" and "Lunch:" qualifiers on some session names. We're not including that in the title.
        So the listing in the OCON schedule as "Panel: Transforming Burnout with Selfishness" is just "
        =link_to "Transforming Burnout With Selfishness", "/presentations/transforming-burnout-with-selfishness"
        " in the presentation listing.
      %li
        Sometimes a presentation is listed as a single event on the schedule, but media is released in multiple parts - typically
        for a multi-speaker panel. In this case, create one presentation as it appears the schedule, and attach multiple publications to it.
        For example, see
        %i= link_to "Free Will, Free Speech, Free Borders, Freedom in the Middle East", '/presentations/free-will-free-speech-free-borders-freedom-in-the-middle-east'
      %li
        Courses spanning multiple days are listed as a single presentation with the parts in the description, as in
        =link_to "The Foundations of Knowledge.", "/presentations/the-foundations-of-knowledge"
        This is tedious, but from the perspective of the site being an index into the media, it should be helpful for
        people who are shopping for presentations to hear (vs. browsing with curiosity about conference history).
      %li
        Each delivery of a presentation is considered distinct, even if the name is the same, and the content is substantially
        the same. Each presentation may still have its own recorded media, and a unique Q&A. For example, see:
        %ul
          %li= link_to "Democracy vs. Victory – Why the “Forward Strategy of Freedom” Had to Fail", "/presentations/democracy-vs-victory-why-the-forward-strategy-of-freedom-had-to-fail"
          %li= link_to "Democracy vs. Victory – Why the “Forward Strategy of Freedom” Had to Fail", "/presentations/democracy-vs-victory-why-the-forward-strategy-of-freedom-had-to-fail-c02a07d6-7062-47e1-8251-73f4fb8f6912"
      %li
        The ARI schedules from 2014 forward include JavaScript to show/hide descriptions which makes them difficult to copy.
        To get around that, open the schedule in a different browser and turn JavaScript off in the browser preferences.
        Then then text will behave normally. You have to re-enable Javascript to navigate between days.

      %li
        %b Venue and location
        %br
        Presentations inherit venue/location information from their parent event unless that event is a series.
        A series may have multiple locations (such as the
        = link_to "ARI Road to a Free Society", event_path('ari-road-to-a-free-society')
        series). In this case, each presentation has a separate date and location.

    %h5 Presentation Topics
    %p
      Presentations can be tagged with one or more Topics.
      Tags make presentations searchable by terms that don't appear in the title. A presentation about concepts or perception
      might not mention the word "epistemology" at all, but we would want to find it when searching by that term. Tags solve
      that problem.

    %p
      Tags are designed to avoid creating a pre-defined list of categories and then assigning items to a category. Tags
      are flexible, so we don't have to imagine all the possible categories in advance. But that flexibility can result in
      the tags becoming overly complex over time. Try to use
      = link_to "existing tags", tags_presentations_path
      when possible rather than adding a slightly different tag. A small number of broad tags is more useful than many tags with
      one or two presentations assigned to each one. If a tag only has one or two presentations, consider eliminating that tag
      unless it's clear more are coming.
    %ul
      %li
        Try to come up with one or perhaps two tags that capture the presentation's topic at the highest level.
      %li
        Use topic/category style tags, like history, psychology, etc. Not adjective-style like: historical, psychological.
      %li
        You can see the existing tags on the Presentations page, under the
        = link_to "Topics", "/presentations/tags"
        button.

    %h4 Speakers
    %p
      Presentations must have at least one speaker to be created. Speakers have individual entries which are linked to
      their presentations.
    %p Some general guidelines:
    %ul
      %li
        Try to create the speaker only once. Watch out for variations with and without the middle initial.
      %li
        If you're entering data from an old event and find it necessary to create many new speakers, you can simply
        keep the Speaker Add page open in a different browser window to save time.

    %h4 Publications
    %p
      A publication is a presentation preserved in concrete form - a transcript, a tape, a CD, a YouTube video, etc.
      Publications are first-class citizens for editors - you can list and edit them, and manage the relationships between
      publications and presentations. Users only see the results of this: the links at the bottom of presentations.
    %p
      In some cases we know exactly which event the media came from. In other cases, a lecture with the same name
      was given in several different places, and we just don't know which one corresponds to the recording. The system
      allows the same publication to be associated with multiple lectures, and the "real" one can be marked if it is known.
      This way, we keep an accurate record of the media that exists (e.g. one taped lecture by Peter Schwartz named
      %i= link_to "Contextual Knowledge", "/presentations?search_term=contextual+knowledge"
      associated with two presentations by the same name.
    %p
      The system will try to find likely publications in the "Manage Publications" section - and also on the flip-side
      when looking at a publication. It finds matches based on substantially similar names.
    %ul
      %li Try to ensure media isn't duplicated. The system doesn't block duplicates, because they may exist.
      %li If you don't know the year, you can leave it blank.
      %li
        Publications have a "Note" field visible to users, and an "Editors Notes" field only editors can see - use that
        to document any special info about the origin (e.g. - found it in an ebay listing at this URL)
      %li
        For items released in multiple parts (e.g. on YouTube) give them a note that is sortable - e.g., "Part 1",
        "Part 2", etc. The system sorts publications alphabetically by note, so the parts will then be listed in order.
      %li
        Publications pushed over from the e-Store have the description saved in the editor's notes. This field often
        has some clues as to where the item came from.
