= render partial: 'menu'

.row
  .col-md-12
    %h2 Guidelines
    %p
      There are many options in terms of how to enter the conference info, and how to tag it. Following these guidelines will
      help keep the data consistent. Guidelines will evolve over time. Feel free to make suggestions.

    %h4 Conferences
    %ul
      %li
        What is a conference? Generally what immediately comes to mind: a multi-day event with presentations and activities.
        We're also including many of the single-day and weekend events, and some special events that consist of a single
        lecture. We're also including the Ford Hall Forum talks, because they are so important to the overall flow of
        topics.
      %li
        %b Name
        %br
        When you create a conference, a name will be assigned automatically based on the conference organizer and year
        you select (e.g., OCON 2012). This name will be used as part of the URL for the confernce, and this uniform
        naming scheme helps make things searchable. The URL doesn't change, even if the conference name is updated,
        so if you accidentally create the conference with the wrong organizer, delete it and start over-you don't want
        OCON 2020 to have a URL that ends with "irm-1996".
        %b
        For the same reason, it's also important to carefully pick the name of special events, such as:
        = link_to "Ayn Rand Comes to Harvard 1996", 'https://objectivistconferences.info/conferences/ayn-rand-comes-to-harvard-1996'
        or
        = link_to "ARI Ford Hall Forum Event", "https://objectivistconferences.info/conferences/ari-special-event-oct-20-22-2006-boston-ma"
        Use the program event name if available. Otherwise, pick something that is meaningful in the context of the conference listing.
      %li
        %b Organizer
        %br
        When you add a conference, you'll pick an organizer. This denotes the sponsoring organization, as well as a conference
        series. For example, ARI hosts a student conference AynRandCon, as well as a general summer conference OCON, plus
        occasional special events. Organizers are not expected to change very often. If you discover a new organizer, contact
        the admin.

    %h4 Speakers
    %ul
      %li
        Try to create the speaker only once. Watch out for variations with and without the middle initial.
      %li
        If you're entering data from an old conference and find it necessary to create many new speakers, you can simply
        keep the Speaker Add page open in a different browser window to save time.

    %h4 Presentations
    %ul
      %li
        What is a presentation? Generally, it's a conference event with a speaker or a panel. It may be in a workshop
        format with audience participation. But it doesn't include things like receptions, social events, talent contests, etc.
        The social aspects of the conference will be documented in other ways.
      %li
        If you just know the presentation name and speaker, but not the conference (e.g., an old tape or CD, or an e-store listing)
        you can still enter it. Eventually we'll figure it out.
      %li
        The OCON schedule puts "Panel:" and "Lunch:" qualifiers on some session names. We're not including that in the title.
        So the listing in the OCON schedule as "Panel: Transforming Burnout with Selfishness" is just "
        =link_to "Transforming Burnout With Selfishness", "https://objectivistconferences.info/presentations/transforming-burnout-with-selfishness"
        " in the presentation listing.
      %li
        Sometimes a presentation is listed as a single event on the schedule, but media is released in multiple parts - typically
        for a multi-speaker panel. In this case, create one presentation as it appears the schedule, and attach multiple publications to it.
        For example, see
        %i= link_to "Free Will, Free Speech, Free Borders, Freedom in the Middle East", 'http://objectivistconferences.info/presentations/free-will-free-speech-free-borders-freedom-in-the-middle-east'
      %li
        Courses spanning multiple days are listed as a single presentation with the parts in the description, as in
        =link_to "The Foundations of Knowledge.", "https://objectivistconferences.info/presentations/the-foundations-of-knowledge"
        This is tedious, but from the perspective of the site being an index into the media, it should be helpful for
        people who are shopping for presentations to hear (vs. browsing with curiosity about history).
      %li
        Each delivery of a presentation is considered distinct, even if the name is the same, and the content is substantially
        the same. Each presentation may still have its own recorded media, and a unique Q&A. For example, see:
        %ul
          %li= link_to "Democracy vs. Victory – Why the “Forward Strategy of Freedom” Had to Fail", "https://objectivistconferences.info/presentations/democracy-vs-victory-why-the-forward-strategy-of-freedom-had-to-fail"
          %li= link_to "Democracy vs. Victory – Why the “Forward Strategy of Freedom” Had to Fail", "https://objectivistconferences.info/presentations/democracy-vs-victory-why-the-forward-strategy-of-freedom-had-to-fail-c02a07d6-7062-47e1-8251-73f4fb8f6912"
      %li
        The ARI schedules from 2014 forward include JavaScript to show/hide descriptions which makes them difficult to copy.
        To get around that, open the schedule in a different browser and turn JavaScript off in the browser preferences.
        Then then text will behave normally. You have to re-enable it to navigate between days though.

    %h5 Presentation Topics
    %p
      Presentations can be tagged with one or more Topics.
      Tags make presentations searchable by terms that don't appear in the title. A presentation about concepts or perception
      might not mention the word "epistemology" at all, but we would want to find it when searching by that term. Tags solve
      that problem.

    %p
      Tags are designed to avoid creating a pre-defined list of categories and then assigning items to a category. Tags
      are flexible, so we don't have to imagine all the possible categories in advance. But that flexibility can result in
      the tags becoming overly complex over time. Try to use
      = link_to "existing tags", tags_presentations_path
      when possible rather than adding a slightly different tag. A small number of broad tags is more useful than many tags with
      one or two presentations assigned to each one.
    %ul
      %li
        Try to come up with one or perhaps two tags that capture the presentation's topic at the highest level.
      %li
        Use topic/category style tags, like history, psychology, etc. Not adjective-style like: historical, psychological.
      %li
        You can see the existing tags on the Presentations page, under the
        = link_to "Topics", "https://objectivistconferences.info/presentations/tags"
        button.

    %h4 Publications
    %p
      A publication is a presentation preserved in concrete form - a transcript, a tape, a CD, a YouTube video, etc.
      Publications are first-class citizens for editors - you can list and edit them, and manage the relationships between
      publications and presentations. Users only see the results of this: the links at the bottom of presentations.
    %p
      In some cases we know exactly which conference the media came from. In other cases, a lecture with the same name
      was given in several different places, and we just don't know which one corresponds to the recording. The system
      allows the same publication to be associated with multiple lectures, and the "real" one can be marked if it is known.
      This way, we keep an accurate record of the media that exists (e.g. one taped lecture by Peter Schwartz named
      %i= link_to "Contextual Knowledge", "https://objectivistconferences.info/presentations?search_term=contextual+knowledge"
      associated with two presentations by the same name.
    %p
      The system will try to find likely publications in the "Manage Publications" section - and also on the flip-side
      when looking at a publication. It finds matches based on substantially similar names.
    %ul
      %li Try to ensure media isn't duplicated. The system doesn't block duplicates, because they may exist.
      %li If you don't know the year, you can leave it blank.
      %li
        Publications have a "Note" field visible to users, and an "Editors Notes" field only editors can see - use that
        to document any special info about the origin (e.g. - found it in an ebay listing at this URL)
      %li
        For items released in multiple parts (e.g. on YouTube) give them a note that is sortable - e.g., "Part 1",
        "Part 2", etc. The system sorts publications alphabetically by note, so the parts will then be listed in order.
      %li
        Publications pushed over from the e-Store have the description saved in the editor's notes. This field often
        has some clues as to where the item came from.
