= render partial: 'menu'

.row
  .col-md-12
    =title 'Tips'

    %p A few tips to help you make better use of the site.

    %h4 How We Organize the Info
    %p
      The heart of the site is
      %i Presentations. Every presentation has one or more
      %i Speakers
      associated with it. Presentations happen at
      %i Events.
      Events are physical or virtual gatherings, such as conferences, debates, interviews, and podcasts.
      When the presentation becomes available in a format you can watch or hear, that is a
      %i Publication.
      This is the overall structure of the data:

      %p
        %b Events -> Presentations -> Speakers -> Publications

    %p
      The site provides tools aimed at helping you answer certain kinds of questions:
      %ul
        %li Where can I watch, hear, or read a specific presentation?
        %li Where did a specific presentation come from? How does it fit into the timeline?
        %li What presentations have been given on a particular topic?
        %li What presentations are coming up?
        %li What events have I attended?
        %li What presentations have I already heard?
        %li Who has attended the same events I have attended?

    %h4 Searching
    %p
      Search works with single or multiple keywords. Search recognizes certain words as "special".
      Searches respond slightly different in each subject area.

    %h5 Events
    %p
      Event searches recognize years, countries, and US states as search terms.
      %ul
        %li
          A four-digit number will be treated as a year and match events from that year, e.g.
          = link_to('1992', events_path(search_term: "1992"))
        %li
          A country name will find events in that country, e.g.
          = link_to('Norway', events_path(search_term: "Norway"))
        %li
          A two-character state abbreviation will find events in that state, e.g.
          = link_to('GA', events_path(search_term: "GA"))
        %li
          A city name will find events in that city
          = link_to('Boston', events_path(search_term: "Boston"))

    %h6 Event Types
    %p
      Events are categorized as
      = Conference::EVENT_TYPES.map{|e| e.pluralize}.to_sentence + '.'
      Events may have a physical location or be broadcast. We use the modern name,
      %i virtual
      events, but these include TV and radio appearances, as well as internet broadcasts.
      Event searches can be narrowed by selecting the event type, for example:
      %ul
        %li
          Event type speech, and search term
          = link_to('Boston', events_path(search_term: "boston", event_type: "Speech"))
          will find the Ford Hall Forum talks.

    %p
      Series events contain thematically related presentations over an extended period, but without the
      structure of a conference. A series with virtual presentations (such as the
      = link_to 'Philosophy for Living On Earth', event_path('philosophy-for-living-on-earth')
      webinars) has no location.
      A series may have multiple locations (such as the
      = link_to "ARI Road to a Free Society", event_path('ari-road-to-a-free-society')
      series). In this case, each presentation has a separate date and city. Podcasts, such as
      = link_to "Don Watkins' Commentaries on OPAR", event_path("don-watkins-commentaries-on-opar-2020")
      are also categorized as a series event.

    %h5 Presentations
    %p
      Presentations can be found by a word from the presentation name or the speaker first or last name.
      In addition to general search terms, presentations also use tags. A presentation with political subject matter
      may not have the literal word "politics" in the title or description. But you can find it when it's been given
      the tag
      %span.tags_display.linked.slim politics
      \. Clicking on these tags in the search results will start a tag-based search. Some examples:
      %ul
        %li
          A country name will find presentations given at events in that country, e.g.
          = link_to('Norway', presentations_path(search_term: "Norway"))
        %li
          Years and speaker names can be combined, e.g.
          = link_to('"Peikoff 1984"', presentations_path(search_term: "Peikoff 1984", tag: ""))
        %li
          Topic tags can be combined with other terms to narrow the search, such as:
          = link_to(presentations_path(operator: "AND", search_term: "popper", tag: "philosophy of science")) do
            %span.tags_display.linked.slim philosophy of science
            Popper
          or
          = link_to(presentations_path(operator: "AND", search_term: "binswanger", tag: "epistemology")) do
            %span.tags_display.linked.slim epistemology
            Binswanger

    %h5 Speakers
    %p
      Speaker search is straightfoward search terms match the first or last time, such as
      = link_to "Smith", speakers_path(search_term: 'smith')


    %h5 Publications
    %p
      Presentations have
      %i publications
      –– some form of media that is a record of a specific presentation. Publications can be recorded on a variety of media types.
      These are represented by icons:
    %ul
      - publication = Publication.new
      - Publication::FORMATS.sort.each do |format|
        - publication.format = format
        %li
          = link_to icon_for_format(publication).html_safe, '#', title: "Hovering over the icon will reveal supplemental info"
          = format
    %p
      Sometimes a talk will have multiple copies of the same icon. This usually happens when the talk is split into
      multiple parts. Hovering on the icon will reval the specific part.
    %p
      Publications with the crown
      = icon('fas', 'crown', :class => 'fa-fw text-warning')
      indicate a publication that is the actual recording of that specific presentation. Publications without the crown are
      presentations of the same talk, but not necessarily exactly the same as the offical recorded version.
    %p
      Publication searches recognize years, speaker names, and media formats as search terms.
      %ul
        %li
          A four-digit number will be treated as a year and match events from that year, e.g.
          = link_to('1997', publications_path(search_term: "1997"))
        %li
          A year and a format type can be combined, e.g.
          = link_to('print 2013', publications_path(search_term: "print 2013"))
        %li
          In order to find publications for a specific speaker, the full name needs to be enclosed in quotes, e.g.
          = link_to('"Aaron Smith"', publications_path(search_term: '"Aaron Smith"'))
          rather than just
          = link_to('Aaron Smith', publications_path(search_term: 'Aaron Smith'))
          which will match all Aaron and all Smith publications.
        %li
          Publication search also can match on publisher, but this data is still in development, so there aren't many matches.
          For example,
          = link_to('"Ayn Rand Bookstore"', publications_path(search_term: '"Ayn Rand Bookstore"'))