-# This puts the navbar outside the content div so it can span the page
- content_for :body do
  %nav.navbar.navbar-expand-lg.navbar-dark{style: 'background: #02547D'}
    .container
      %ul.navbar-nav.mr-auto
        - if can? :create, Speaker
          %li.nav-item
            =link_to icon('fas', 'plus', 'Add', class: 'fa-sm'), new_speaker_path, class: 'nav-link', title: 'Add a Speaker'

        - if current_user&.editor? || current_user&.admin?
          %li.nav-item{class: params[:heart].present? ? 'active' : ''}
            = link_to icon('fas', 'medkit', class: 'fa-lg fa-fw'), speakers_path(search_term: params[:search_term], heart: 't'), class: "nav-link", title: 'Needs some work'

        %li.nav-item.dropdown
          = link_to('#', class: "nav-link dropdown-toggle #{action_name == 'chart' ? 'active' : ''}", id: "navbarDropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false") do
            = icon('fas', 'chart-bar', 'Chart It',   class: 'fa-sm')
          .dropdown-menu{'aria-labelledby' => "navbarDropdownMenuLink"}
            = link_to icon('fas', 'chart-bar', 'Presentations', class: 'fa-sm'), chart_speakers_path(type: 'presentations', search_term: params[:search_term], user_id: params[:user_id]), class: "dropdown-item"
            = link_to icon('fas', 'chart-bar', 'Conferences'  , class: 'fa-sm'), chart_speakers_path(type: 'conferences',   search_term: params[:search_term], user_id: params[:user_id]), class: "dropdown-item"

      = form_for :search, html: { class: 'form-inline' }, url: speakers_path, method: :get do |f|
        = text_field_tag :search_term, params[:search_term], placeholder: "Search"
        %span{style: 'margin-right: 5px;'}
        = button_tag type: 'submit', class: 'btn btn-primary btn-sm' do
          = icon('fas', 'search', class: 'fa-sm')
        - if params[:search_term].present? || params[:heart].present?
          = link_to 'all', speakers_path, class: "btn btn-sm btn-primary ml-2"
