- if @speaker.photo.present?
  .float-right
    =image_tag @speaker.photo.url, style: 'max-height: 100px'
= f.input :photo, label: @speaker.photo.present? ? 'Change photo' : 'Add photo'
- if @speaker.photo.present?
  = f.input :remove_photo, as: :boolean, label: 'Remove Photo (revert to default icon)'
= f.input :name, :autofocus => true

-# Let the admin manage sortable name, but hide it from everyone else, and maintain changes to it.
-# This should work well so long as an editor doesn't change the last name of a speaker that has been overridden.
- if action_name == 'edit'
  - if current_user.admin?
    = f.input :sortable_name, hint: 'Change only the sortable name to create a manually-defined alternate.'
  - else
    -# Preserve the alternate name for non-admins, who won't know it's there
    - if @speaker.name.split(' ').last != @speaker.sortable_name && @speaker.sortable_name.present?
      = f.hidden_field :sortable_name

= f.input :bio_url, label: 'Bio URL', hint: "URL for the speaker's own page, e.g. at ARI Campus or their personal site."
= f.label :description
= f.trix_editor :description
