.row.mb-2
  .col-sm-6= link_to(truncate(speaker.name, length: 40), speaker_path(speaker))

  - if params[:heart].present?
    .col
      = icon('fas', 'align-left', class: 'fa-fw') if speaker.description.blank?
      = icon('fas', 'id-badge', class: 'fa-fw') if speaker.photo.blank?

  .col
    = speaker.active_years

  .col.text-center
    = speaker.presentation_count

  .col.text-right
    - if can? :edit, speaker
      = link_to icon('far', 'edit', class: 'fa-fw'), edit_speaker_path(speaker), :class => "btn btn-sm btn-primary"
    -if can?(:destroy, speaker) && speaker.presentations.empty?
      = link_to icon('far', 'trash-alt', class: 'fa-fw'), speaker_path(speaker), :method => :delete, :class => "btn btn-sm btn-danger", :data => { :confirm => 'Permanently remove this speaker?' }, :post => true
