= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = render partial: 'shared/return_from_chart_with_params'

    - if params[:search_term].present?
      - title "Speaker Events for #{ params[:search_term] }"
      %h3
        Speaker Events for
        = params[:search_term]

    - elsif params[:user_id].present?
      - title "Your Event Speakers"
      %h3
        Your Event Speakers
        = params[:search_term]

    - else
      - title "Frequent Event Speakers"
      %h3 Most Frequent Speakers by Events

    %p Click a name to see the speaker's conferences
    -# This div ID has to match up with the one in shared/presentations_chart
    #conferences_chart
      = render partial: 'shared/conferences_chart'
    .text-center Events
