= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    - if params[:id].present?
      = link_to "Done", speaker_path(params[:id]), :class => "btn btn-sm btn-secondary float-right"
    - else
      = link_to "Done", deduce_done_path, :class => "btn btn-sm btn-secondary float-right"

    - if param_context(:search_term).present?
      = title chart_title_with_context('Speaker Events for')

    - elsif param_context(:user_id).present?
      = title "Your Event Speakers"
      = param_context(:search_term)

    - elsif params[:id].present?
      = title "Speaker Events"

    - else
      - title "Frequent Event Speakers"
      %h3 Most Frequent Speakers by Events

    %p Click a name to see the speaker's presentations
    -# This div ID has to match up with the one in shared/presentations_chart
    #events_chart
      = render partial: 'shared/events_chart'
    .text-center Events
