- title 'Speakers'

= render partial: 'control_bar'

- if @speakers.blank?
  .row
    .col-md-12
      - if params[:search_term].present?
        %p No speakers match that search term
      - else
        %p You haven't created any speakers yet.
- else
  .row
    .col-md-12
      %table.table
        = render :partial => "table_head"
        = render :partial => "speaker", :collection => @speakers

  .row
    .col-md-10
      = paginate @speakers
    .col-md-2
      = form_tag speakers_path, method: :get do
        = select_tag :per, options_for_select( [2,3,4,5,6,7,8,9,10,11,12,13,14,15,20,25,30,50], selected: params[:per] || 15), onchange: 'this.form.submit()'
        = hidden_field_tag :page, params[:page]
