= render partial: 'control_bar'

.row.chart-controls
  .col-md-12
    = link_to "Done", deduce_done_path, :class => "btn btn-secondary float-right"

    - if param_context(:search_term).present?
      = title chart_title_with_context('Speaker Presentations for')

    - elsif param_context(:user_id).present?
      = title "Your Event Speakers"
      = param_context(:search_term)

    - else
      - title "Frequent Event Speakers"
      %h3 Most Frequent Speakers by Presentation

    %p Click a name to see the speaker's presentations
    -# This div ID has to match up with the one in shared/presentations_chart
    #presentations_chart
      = render partial: 'shared/presentations_chart'
    .text-center Presentations
