= render partial: 'control_bar'

.row
  .col-md-12
    = title "#{ @speaker.name }"
    %h5= @speaker.title

.row
  .col-md-12
    =image_tag @speaker.photo.url, class: 'float-right', style: 'max-height: 100px'
    - if @speaker.bio_url.present?
      %p
        Speaker's
        = link_to "Bio", @speaker.bio_url
    %p= @speaker.description.try(:html_safe)

.row
  .col-md-12
    %h4 Presentations
    - if @presentations.empty?
      %p None Yet
    - else
      %table.table
        = render :partial => "presentations/table_head"
        = render :partial => "presentations/presentation", :collection =>  @presentations
