.row
  .col-md-12
    = title "#{ @speaker.name }"

.row
  .col-md-12
    =image_tag @speaker.photo.url, class: 'float-right', style: 'max-height: 100px'
    %p= @speaker.description.try(:html_safe)

.row
  .col-md-12
    %h4 Presentations
    - if @presentations.empty?
      %p None Yet
    - else
      %table.table
        = render :partial => "presentations/table_head"
        = render :partial => "presentations/presentation", :collection =>  @presentations

.row
  .col-md-12
    .form-actions
      = link_to "Done", speakers_path, :class => "btn btn-secondary"
      - if can? :edit, @speaker
        = link_to "Edit Speaker", edit_speaker_path(@speaker), :class => "btn btn-primary"
        - if request.referrer == new_speaker_url
          = link_to "Add Another", new_speaker_path, :class => "btn btn-primary"
      .float-right
        - if can?(:destroy, @speaker) && @presentations.empty?
          = link_to icon('far', 'trash-alt', '', class: 'fa-fw'), speaker_path(@speaker), :method => :delete, :class => "btn btn-danger", :data => { :confirm => 'Are you sure?' }, :post => true
