- content_for :head do
  = tag :link, rel: 'canonical', href: speaker_url(@speaker)

= render partial: 'control_bar'

.row
  .col-md-12
    = title "#{ @speaker.name }"
    %h5= @speaker.title
    %h5
      Active: 
      = @speaker.active_years

.row
  .col-md-12
    =image_tag @speaker.photo.url, class: 'float-right', style: 'max-height: 100px'
    - if @speaker.bio_url.present?
      %p
        Speaker's
        = link_to "Bio", @speaker.bio_url
    %p
      = safe_list_sanitizer.sanitize(@speaker.description).try(:html_safe)
      - if @speaker.bio_on.present?
        %i
          (based on info from
          = @speaker.bio_on&.year
          )
.row
  .col-md-12
    %h4 Presentations
    - if @presentations.empty?
      %p None Yet
    - else
      = render :partial => "presentations_header"
      = render :partial => "presentations/presentation", :collection =>  @presentations
