- if @user.has_photo?
  .float-right
    =image_tag @user.photo.url, style: 'max-height: 100px'
= f.input :photo, label: @user.photo.present? ? 'Change photo' : 'Add photo'
- if @user.has_photo?
  = f.input :remove_photo, as: :boolean, label: 'Remove Photo (revert to default icon)'
= f.input :email
= f.input :name
= f.input :city
= f.input :state
= f.input :country, priority: ['US'], include_blank: false

= f.input :time_zone, priority: /US/, default: current_user.time_zone, class: 'form-control'

= f.input :password, :hint => 'Minimum 8 characters with at least 1 number. Leave this blank to keep your current password.'
= f.input :password_confirmation
%h4 Preferences
= f.input :show_attendance, as: :boolean, label: "Allow other users to see my conference attendance"
- if @user.editor?
  = f.input :show_contributor, as: :boolean, label: "List me on the Supporters page as a contributing editor"
